<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/Addpraprty" method="post">
	<input type="text" name="PraprtyNmae">
	<input type="submit" name="send">
</form>
</body>
</html>